@{
  Layout = "_Layout";
}

@model Library.Models.Copy

<h4>Add a new Copy of a book</h4>
@using (Html.BeginForm())
{
    @Html.Label("Select Book")
    @Html.DropDownList("BookId")
    <input type="submit" value="Add new copy" />
}