@{
  Layout = "_Layout";
}

@model Library.Models.Copy

<h2>Edit</h2>

<h4>Edit this copy: @Html.DisplayFor(model => model.Book.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CopyId)
    @Html.HiddenFor(model => model.BookId)
    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>